@use './variables' as *;
@use './mixins' as *;
// DEMO HAMBURGER MENU:
.mobile-nav{
    @include upper-ubuntu-w;
    text-align:right;

    img{
        height: 60px;
        width: 60px;
        margin-top:1%;
        margin-right:10%;
        filter:$white-svg;
    }
}

.desktop-nav{
    ul{
        display:flex;
        justify-content: flex-end;
        list-style:none;
        gap:4rem;
        margin-right:10%;
    }
    a{
        @include upper-ubuntu-w;
        text-decoration: none;
    }
}